@font-face {
    font-family: Tinos;
    src: url(/assets/Tinos/Tinos-Bold.ttf);
}
body {
    font-family: Tinos;
}
* {
    user-select: none;
}
body {
    border-radius: 32px;
    overflow: hidden;
    padding: 1em;
    background-color: black;
    color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
section {
    display: flex;
    gap: 1em;
    align-items: center;
}
button {
    background: none;
    border: none;
}
button:hover, div#toggle {
    cursor: pointer;
}
button img {
    filter: brightness(0) invert(1);
    height: 2em;
    transition: all 0.2s ease;
}
button:hover img {
    rotate: 360deg;
}
p {
    font-size: 1.5em;
}
div#toggle {
    display: flex;
    width: 4em;
    height: 2em;
    border-radius: 16px;
}
div#toggle.enabled {
    background-color: green;
    justify-content: end;
}
div#toggle.disabled {
    background-color: red;
    justify-content: start;
}
div#toggle div {
    height: 2em; width: 2em;
    background-color: white;
    border-radius: 50%;
}
img.table {
    border-radius: 16px;
    width: 100%;
}